.tariffs {
	padding: 24px 0 80px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&>h1 {
		background: linear-gradient(87.79deg, #2EE9A9 1.47%, #008DF2 105.22%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
		line-height: normal;
		font-family: "Inter";
		font-weight: 600;
		font-size: 48px;
		letter-spacing: 0%;
		text-align: left;
		width: fit-content;
	}
}

.subTarrifs {
	width: 100%;
	display: flex;
	background-color: #F5F5F5;
	justify-content: center;
}

.tarrifsCards {
	padding-top: 30px;
	display: flex;
	gap: 20px;
}

@media (max-width:1591px) {
	.tarrifsCards {
		width: 1079px;
	}
}

@media (max-width:1090px) {
	.tarrifsCards {
		width: 900px;
	}
}