.problemCard {
  background-color: #F5F5F5;
  border-radius: 12px;
  padding: 20px;
  height: 200px;
  width: 333px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.problemCardSubBlock {
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.problemCardSymbol {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  object-fit: contain;
  padding: 5px;
  box-sizing: border-box;
}

@media (max-width:1090px) {
  .problemCard {
    width: 415px;
  }

  .problemCardSubBlock {
    font-size: 22px;
  }
}

@media (max-width:920px) {
  .problemCard {
    width: 369px;
  }

  .problemCardSubBlock {
    font-size: 17px;
  }
}

@media (max-width:800px) {
  .problemCard {
    width: 319px;
  }

  .problemCardSubBlock {
    font-size: 16px;
  }
}

@media (max-width:756px) {
  .problemCard {
    height: 160px;
  }
}