.reviews {
	width: 100%;
	background-color: #F5F5F5;
	padding: 24px 0 80px 0;
	display: flex;
	justify-content: center;
}

.subReviews {

	&>h1 {
		font-family: "Inter";
		font-weight: 700;
		font-size: 30px;
		line-height: 100%;
		letter-spacing: 0%;
		padding-bottom: 30px;
	}
}

.reviewCards {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

@media (max-width:1090px) {
	.reviewCards {
		width: 900px;
		justify-content: space-evenly;
	}
}

@media (max-width:920px) {
	.reviewCards {
		width: 800px;
	}
}