.marquee {
	width: 100%;
	height: 64px;
	padding: 18px 0;
	background-color: #2985FF;
	color: #FFFFFF;
	font-family: Inter;
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	margin-right: 30px;
}

.marquee span {
  margin-right: 30px;
}
