.trustPartners {
	width: 100%;
	background-color: #F5F5F5;
	padding: 60px 0 80px 0;
	display: flex;
	justify-content: center;
}

.subTrustPartners {

	&>h1 {
		font-family: "Inter";
		font-weight: 700;
		font-size: 30px;
		line-height: 100%;
		letter-spacing: 0%;
	}
}

.partnersLine {

	&>h2 {
		font-family: "Inter";
		font-weight: 600;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 0%;
		padding-top: 60px;
	}
}

.cImgs {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding-top: 30px;
}

.companyCarda {
	width: 256px;
}

@media (max-width:1591px) {
	.subTrustPartners {
		width: 1079px;
		gap: 10px;
	}

	.cImgs {
		gap: 11px;
	}

}

@media (max-width:1090px) {
	.subTrustPartners {
		width: 900px;
	}

	.cImgs {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

@media (max-width:920px) {
	.subTrustPartners {
		width: 800px;
	}
}