.firstScreen {
	width: 100%;
	background-color: #FFFFFF;
	background-image:
		linear-gradient(to right, #F5F5F5 1px, transparent 2px),
		linear-gradient(to bottom, #F5F5F5 1px, transparent 2px);
	background-size: 50px 50px;
	background-position: center;
	background-repeat: repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 156px;

}

.firstScreen {
	&>h1 {
		font-family: "Inter";
		font-size: 96px;
		font-weight: 700;
		line-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.subcontainer {
	background: linear-gradient(180deg, #F5F5F500, #F5F5F5);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.gradientText {
	background: linear-gradient(87.79deg, #2EE9A9 1.47%, #008DF2 105.22%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	line-height: normal;
}

.textpoints {
	font-family: "Inter";
	font-size: 20px;
	font-weight: 400;
	color: #737373;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textpoint {
	margin-bottom: 4px;
	display: inline-block;
}

.textpoint::before {
	--side: 0.27em;
	display: inline-block;
	content: " ";
	width: var(--side);
	height: var(--side);
	margin-right: 0.6em;
	margin-bottom: 0.18em;
	background-color: #737373;
	border-radius: 100%;
	flex-shrink: 0;
}

.bottomInfo {
	width: 1472px;
	height: 131px;
	margin-top: 100px;
	position: relative;
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
}

.bottomLeftInfoText {
	font-family: "Inter";
	font-size: 24px;
	font-weight: 400;
	color: #101010;
	text-align: left;
	height: 93px;
	width: 300px;
	line-height: 130%;
}

.bottomRightInfoCard {
	width: 333px;
	height: 131px;
	border: 1px solid #E5E5E5;
	background-color: #FFFFFF;
	border-radius: 14px;
}

.bottomRightInfoCardLeft {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
}

.whyUs {
	font-family: "Inter";
	font-size: 14px;
	font-weight: 600;
	color: #737373;
	line-height: 140%;
}

.showcases {
	font-family: "Inter";
	font-size: 24px;
	font-weight: 600;
	color: #000000;
	margin-top: 16px;
	line-height: 100%;
}

.clients {
	margin-top: 6px;
	font-family: "Inter";
	font-size: 14px;
	color: #737373;
	font-weight: 400;
	line-height: 140%;
}

.clients::before {
	content: "1400+";
	font-weight: 700;
	margin-right: 4px;
	color: #0FB981;
	line-height: 140%;
}

.bottomRightInfoCardRight {
	width: 50px;
	height: 50px;
	right: 16px;
	top: 16px;
	border-radius: 25px;
	gap: 10px;
	background-color: #A5F4CF;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}

.mobile {
	display: none;
}

.button {
	margin-top: 50px;
}

.buttonMobile {
	display: none;
}

@media (max-width:1591px) {
	.firstScreen {
		padding-top: 95px;

		&>h1 {
			font-family: "Inter";
			font-size: 64px;
			font-weight: 700;
			line-height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	.bottomInfo {
		width: 1079px;
	}
}

@media (max-width:1090px) {
	.bottomInfo {
		width: 900px;
	}
}

@media (max-width:920px) {
	.bottomInfo {
		width: 800px;
	}

	.firstScreen {
		padding-top: 95px;

		&>h1 {
			font-size: 48px;
		}
	}

	.textpoints {
		font-size: 18px;
	}
}


@media (max-width:757px) {
	.mobile {
		display: block;
	}

	.firstScreen {
		padding-top: 95px;

		&>h1 {
			font-size: 32px;
		}
	}

	.textpoints {
		font-size: 16px;
	}

	.pc {
		display: none;
	}

	.button {
		width: 80%;
		font-size: 16px;
	}
}