.burgerMenu {
	height: 100dvh;
	width: 240px;
	border-radius: 12px 0 12px 0;
	opacity: 1;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	background: #ffffff;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	animation: slideInRight 0.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.logo {
	padding: 40px 0 30px 40px;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 40px;
}

.button {
	font-family: "Inter";
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0%;
	color: #737373;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}