.problems {
	width: 100%;
	height: 746px;
	display: flex;
	justify-content: center;
	background-color: #F5F5F5;
}

.container {
	width: 1472px;
	height: 640px;
	margin-top: 26px;
	padding: 40px 0 0 40px;
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 14px;
}

.problemstext {
	font-family: Inter;
	font-size: 48px;
	font-weight: 600;
	color: #000000;
	background: linear-gradient(90deg, #2EE9A9 0%, #008DF2 23%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.solutions {
	font-family: Inter;
	font-size: 36px;
	font-weight: 400;
}

.problemCardsBlock {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
	margin-top: 35px;
}

.problemCard {
	background-color: #F5F5F5;
	border-radius: 12px;
	padding: 20px;
	height: 200px;
	width: 333px;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.problemCardSubBlock {
  width: 100%; 
  height: auto; 
  font-family: Inter;
  font-size: 18px;
	line-height: 140%;
}

.ProblemCardSymbol {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  object-fit: contain;
  padding: 5px;
  box-sizing: border-box;
}