.companyCard {
	width: 278px;
	height: 160px;
	border-radius: 14px;
	border: 1px #E5E5E5 solid;
}

.companyCard img {
	width: 100%;
	height: 100%;
	border-radius: 14px;
}

@media (max-width:1591px) {
	.companyCard {
		width: 207px;
		height: 160px;
	}
}

@media (max-width:1090px) {
	.companyCard {
		width: 257px;
		height: 160px;
	}
}