.footer {
	width: 100%;
	height: 64px;
	background-color: #2985FF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 1472px;
	height: 32px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	font-family: Inter;
	display: flex;
	justify-content: space-between;
	align-items: center;
}