.howItWorks {
	width: 100%;
	height: 529px;
	background-color: #F5F5F5;
	display: flex;
	justify-content: center;
	padding-top: 24px;
}

.header {
	width: 600px;

	&>h1 {
		font-family: "Inter";
		font-size: 30px;
		font-weight: 700;
		font-size: 30px;
		font-weight: 700;
		line-height: 100%;
	}

	&>p {
		font-family: "Inter";
		margin-top: 10px;
		font-size: 14px;
		line-height: 140%;
		color: #737373;
	}
}

.subStepsContainer {
	margin-top: 40px;
	display: flex;
	gap: 20px;
	height: 329px;
}

.stepsContainer,
.imgContainer {
	width: 726px;
	height: 329px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 14px;
}

.imgContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	height: 100%;

}

.imgContainer img{
	width: 100%;
	object-fit: cover;
}

@media (max-width:1591px) {
	.container{
		width: 1079px;
	}

	.imgContainer{
		width: 376px;
		height: 100%;
		padding: 15px;
	}

}

@media (max-width:1090px) {
	.container{
		width: 900px;
	}
}