.howItWorks {
	width: 100%;
	height: 529px;
	background-color: #F5F5F5;
	display: flex;
	justify-content: center;
}


.header {
	width: 600px;

	&>h1 {
		font-family: Inter;
		font-size: 30px;
		font-weight: 700;
		font-family: Inter;
		font-size: 30px;
		font-weight: 700;
	}

	&>p {
		font-family: Inter;
		margin-top: 10px;
		font-size: 14px;
		line-height: 140%;
		color: #737373;
	}
}

.subStepsContainer {
	margin-top: 40px;
	display: flex;
	gap: 20px;
}

.stepsContainer,
.stepsImg {
	width: 726px;
	height: 329px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 14px;
}

.stepsImg {
	padding: 30px;
	object-fit: contain;
}